
 body{
     background-image: url('images/diwali5.jpg');
     background-repeat: no-repeat;
     background-size: 100%;
     font-size: x-large;
     padding-top: 200px;
    
 }
 
.container{
    height: 60%;
    width: 30%; 
    margin: auto; 
    padding: 10px;
    /* background-color: white; */
    /* background-image: url('images/center_img.jpg'); */
    background-repeat: no-repeat;
    background-size: 100%;
    float: right;
}

@font-face {
    font-family: myfont;
    src: url('KaushanScript-Regular.ttf');
}

.nfont {
    font-family: myfont;
    animation-name: example;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
@keyframes example{
    from{color: rgb(139, 131, 131);}
    to{color: rgb(228, 96, 35);}
}
